<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses Page</title>
  <link rel="stylesheet" href="Courses.css">
</head>
<body>

<main>
  <h1 style="color: brown">Add New Course</h1>

  <form action="......" method="post" enctype="multipart/form-data">

    <label>Course Id: </label>
    <input type="text" name="cid" required>

    <label>Course Name: </label>
    <input  type="text" name="cname" required>

    <label>Teacher_id: </label>
    <input type="text" name="tid" required>

    <label>Start_date: </label>
    <input type="date" name="sdate" required>

    <label>End_date: </label>
    <input type="date" name="edate" required>

<table>
  <tr>
    <th><button type="reset">Cancel</button></th>
      <th><button type="submit">Create Course</button></th>
  </tr>
</table>
  </form>
</main>
<main>
  <a href="Home.html"><button>Back</button></a>
</main>
</body>
</html>