<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Home Page</title>

    <script src="https://kit.fontawesome.com/257d37fc1a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Register.html"><i class="fa-solid fa-pen fa-beat-fade"></i> Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Login.html"><i class="fa fa-fw fa-user"></i>Login</a>
                </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-book-open-reader"></i>  Student
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="Enrollments.html">Enroll</a></li>
                            <li><a class="dropdown-item" href="Assignments.html">Assignments</a></li>
                            <li><a class="dropdown-item" href="#">My Cources</a></li>
                            <li><a class="dropdown-item" href="#">MY Grades</a></li>
                        </ul>
                    </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-person-chalkboard"></i>  Teacher
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">List Of Students</a></li>
                        <li><a class="dropdown-item" href="Courses.html">Add Courses</a></li>
                        <li><a class="dropdown-item" href="Grade.html">Grades</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Management
                    </a>
                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Users List</a></li>
                        <li><a class="dropdown-item" href="Courses.html">All Courses</a></li>
                    </ul>
                </li>




            </ul>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a href="....."> <button class="btn btn-outline-success" type="submit">Search Cources</button></a>
            </form>
        </div>
    </div>
</nav>
<br>
<br>

<div class="col d-flex justify-content-center"><h1 style="color: darkorange"> <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>Welcome to Axis LMS Portal</h1></div>
<br>

<table style="height: 200PX;width: 200PX;" border="0PX" CELLPADDING="30PX" CELLSPACING="20PX">
    <tr>
        <th>
            <div class="card" style="width: 18rem;">
                <img src="https://res.infoq.com/articles/java-14-feature-spotlight/en/headerimage/Java-14-Feature-Spotlight-Records-h-1580471331167.jpg" class="card-img-top" alt="1">
                <div class="card-body">
                    <h3 class="card-title">Servlet</h3>
                    <p class="card-text">This includes basic servlet concept like Send redirect, Request dispatcher and so on.</p>
                    <a href="#" class="btn btn-primary">Enroll</a>
                </div>
            </div>
        </th>

        <th>
            <div class="card" style="width: 18rem;">
                <img src="https://img.freepik.com/premium-vector/gradient-sql-illustration_52683-80408.jpg" class="card-img-top" alt="4">
                <div class="card-body">
                    <h3 class="card-title">SQL</h3>
                    <p class="card-text">This includes Basics,Constraints, SQL Statements,Functions, Sub Query and Joins.</p>
                    <a href="#" class="btn btn-primary">Enroll</a>
                </div>
            </div>
        </th>

        <th>
            <div class="card" style="width: 18rem;">
                <img src="https://media.istockphoto.com/id/1131109259/photo/java-programming-concept-virtual-machine-on-server-room-background.jpg?s=612x612&w=0&k=20&c=9XkadZ4vzTRz2uSURoOolo96AiB7UACkLUQd_PC-ME0=" class="card-img-top" alt="2">
                <div class="card-body">
                    <h3 class="card-title">JAVA Full Stack</h3>
                    <p class="card-text">This includes SQL, Web technology,Hybernate,Servlet and Spring</p>
                    <a href="#" class="btn btn-primary">Enroll</a>
                </div>
            </div>
        </th>
        <th><div class="card" style="width: 18rem;" >
            <img src="https://images.idgesg.net/images/article/2019/05/java_binary_code_gears_programming_coding_development_by_bluebay2014_gettyimages-1040871468_2400x1600-100795798-large.jpg?auto=webp&quality=85,70" class="card-img-top" alt="3">
            <div class="card-body">
                        <h3 class="card-title">Core Java</h3>
                <p class="card-text">This includes OOPS concepts, File handling, Threads and Basic programming.</p><br>
                <a href="#" class="btn btn-primary">Enroll</a>
            </div>
        </div></th>
    </tr>
</table>



</body>
</html>